In [2]:
import pandas as pd
import numpy as np
import glob

In [3]:
paths = glob.glob('data/csv/*')

In [13]:
df = pd.concat(map(pd.read_csv, paths))
df = df.drop(df.columns[0], axis=1)

In [21]:
df.year = df.year.astype('category')
df.city = df.city.astype('category')
df.month = df.month.astype('category')
df.bezirk = df.bezirk.astype('category')
df.nr = df.nr.astype('category')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63612 entries, 0 to 3347
Data columns (total 6 columns):
year               63612 non-null category
city               63612 non-null category
month              63612 non-null category
overnight_stays    63612 non-null int64
bezirk             63612 non-null category
nr                 63612 non-null category
dtypes: category(5), int64(1)
memory usage: 1.4 MB

In [27]:
df[(df.year==2012) & (df.city=='Mils')]

     year  city month  overnight_stays bezirk     nr
600  2012  Mils     1             1648     IL  70329
601  2012  Mils     2             1770     IL  70329
602  2012  Mils     3             1526     IL  70329
603  2012  Mils     4             1575     IL  70329
604  2012  Mils     5             1905     IL  70329
605  2012  Mils     6             1879     IL  70329
606  2012  Mils     7             2695     IL  70329
607  2012  Mils     8             2393     IL  70329
608  2012  Mils     9             2516     IL  70329
609  2012  Mils    10             1873     IL  70329
610  2012  Mils    11             1827     IL  70329
611  2012  Mils    12             2009     IL  70329

In [28]:
df.to_csv('data/total.csv')