In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/total.csv')
df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df.head()

   year       city  month  overnight_stays bezirk   nr
0  2000  Innsbruck      1            75874      I  101
1  2000  Innsbruck      2            86463      I  101
2  2000  Innsbruck      3            85461      I  101
3  2000  Innsbruck      4            78124      I  101
4  2000  Innsbruck      5            99989      I  101

In [11]:
X = df.drop('overnight_stays', axis=1)
y = df.overnight_stays

In [12]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn.tree import DecisionTreeRegressor

In [8]:
tree = DecisionTreeRegressor()