In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/total.csv')
df.head()

   year       city  month  overnight_stays bezirk   nr
0  2000  Innsbruck      1            75874      I  101
1  2000  Innsbruck      2            86463      I  101
2  2000  Innsbruck      3            85461      I  101
3  2000  Innsbruck      4            78124      I  101
4  2000  Innsbruck      5            99989      I  101

In [3]:
df['datetime'] = df.year.astype('str') + '-' + df.month.astype('str')
df['datetime'] = pd.to_datetime(df.datetime).astype('str')
df['datetime'] = df.datetime.str[:7]
df

       year       city  month  overnight_stays bezirk     nr datetime
0      2000  Innsbruck      1            75874      I    101  2000-01
1      2000  Innsbruck      2            86463      I    101  2000-02
2      2000  Innsbruck      3            85461      I    101  2000-03
3      2000  Innsbruck      4            78124      I    101  2000-04
4      2000  Innsbruck      5            99989      I    101  2000-05
...     ...        ...    ...              ...    ...    ...      ...
63607  2018   Zellberg      8            12475     SZ  70941  2018-08
63608  2018   Zellberg      9             6493     SZ  70941  2018-09
63609  2018   Zellberg     10             2613     SZ  70941  2018-10
63610  2018   Zellberg     11              219     SZ  70941  2018-11
63611  2018   Zellberg     12             8835     SZ  70941  2018-12

[63612 rows x 7 columns]

In [4]:
df.city.value_counts()

Virgen                 228
Thiersee               228
Tux                    228
Schmirn                228
Rettenschöss           228
                      ...
Weissenbach am Lech     12
Steinach                12
Elbingenalp             12
Obernberg               12
Weissenbach             12
Name: city, Length: 307, dtype: int64

In [5]:
df.groupby('city').agg('count').sort_values('nr').head(55)

                        year  month  overnight_stays  bezirk   nr  datetime
city
Obernberg                 12     12               12      12   12        12
Steinach am Brenner       12     12               12      12   12        12
Steinach                  12     12               12      12   12        12
Scheffau                  12     12               12      12   12        12
Scheffau am Wilden Kai    12     12               12      12   12        12
Elbingenalp               12     12               12      12   12        12
Weissenbach               12     12               12      12   12        12
Weissenbach am Lech       12     12               12      12   12        12
St. Leonhard im Pitzta    24     24               24      24   24        24
St. Johann in Tirol       24     24               24      24   24        24
St. Sigmund im Sellrai    24     24               24      24   24        24
Nussdorf-Debant           24     24               24      24   24        24
St. Veit in Defereggen    24     24               24      24   24        24
Hopfgarten im Brixenta    24     24               24      24   24        24
Going am Wilden Kaiser    24     24               24      24   24        24
St. Ulrich am Pillerse    24     24               24      24   24        24
Hopfgarten in Deferegg    24     24               24      24   24        24
Telfes im Stubaital       24     24               24      24   24        24
Prägraten am Großvened    24     24               24      24   24        24
St. Jakob in Haus         24     24               24      24   24        24
Ausservillgraten          24     24               24      24   24        24
St. Jakob in Deferegge    24     24               24      24   24        24
St. Johann im Walde       24     24               24      24   24        24
St. Anton am Arlberg      24     24               24      24   24        24
Silz inkl. Kühtai         24     24               24      24   24        24
Schönberg im Stubaital    24     24               24      24   24        24
Buch in Tirol             60     60               60      60   60        60
St.Johann am Walde        96     96               96      96   96        96
St.Johann im Walde       108    108              108     108  108       108
Buch bei Jenbach         168    168              168     168  168       168
Scheffau/Wild.Kaiser     204    204              204     204  204       204
St.Veit in Defereggen    204    204              204     204  204       204
Prägraten                204    204              204     204  204       204
Steinach/Brenner         204    204              204     204  204       204
Going/Wilden Kaiser      204    204              204     204  204       204
St.Ulrich/Pillersee      204    204              204     204  204       204
Hopfgarten/Defereggen    204    204              204     204  204       204
St.Leonhard/Pitztal      204    204              204     204  204       204
St.Johann in Tirol       204    204              204     204  204       204
St.Jakob/Defereggen      204    204              204     204  204       204
St.Jakob in Haus         204    204              204     204  204       204
Schönberg/Stubaital      204    204              204     204  204       204
Silz                     204    204              204     204  204       204
Telfes im Stubai         204    204              204     204  204       204
Hopfgarten/Brixental     204    204              204     204  204       204
St.Sigmund/Sellrain      204    204              204     204  204       204
St.Anton am Arlberg      204    204              204     204  204       204
Nußdorf-Debant           204    204              204     204  204       204
Außervillgraten          204    204              204     204  204       204
Weißenbach am Lech       204    204              204     204  204       204
Obernberg am Brenner     216    216              216     216  216       216
Elbigenalp               216    216              216     216  216       216
Reith bei Seefeld        228    228              228     228  228       228
Reith im Alpbachtal      228    228              228     228  228       228
Rettenschöss             228    228              228     228  228       228

In [6]:
df

       year       city  month  overnight_stays bezirk     nr datetime
0      2000  Innsbruck      1            75874      I    101  2000-01
1      2000  Innsbruck      2            86463      I    101  2000-02
2      2000  Innsbruck      3            85461      I    101  2000-03
3      2000  Innsbruck      4            78124      I    101  2000-04
4      2000  Innsbruck      5            99989      I    101  2000-05
...     ...        ...    ...              ...    ...    ...      ...
63607  2018   Zellberg      8            12475     SZ  70941  2018-08
63608  2018   Zellberg      9             6493     SZ  70941  2018-09
63609  2018   Zellberg     10             2613     SZ  70941  2018-10
63610  2018   Zellberg     11              219     SZ  70941  2018-11
63611  2018   Zellberg     12             8835     SZ  70941  2018-12

[63612 rows x 7 columns]

In [7]:
gemeinden = {
    "Ausservillgraten": "Außervillgraten",
    "Außervillgraten": "Außervillgraten",
    "Buch bei Jenbach": "Buch in Tirol",
    "Buch in Tirol": "Buch in Tirol",
    "Elbigenalp": "Elbigenalp",
    "Elbingenalp": "Elbigenalp",
    "Going am Wilden Kaiser": "Going am Wilden Kaiser",
    "Going/Wilden Kaiser": "Going am Wilden Kaiser",
    "Hopfgarten im Brixenta": "Hopfgarten im Brixental",
    "Hopfgarten in Deferegg": "Hopfgarten in Defereggen",
    "Hopfgarten/Brixental": "Hopfgarten im Brixental",
    "Hopfgarten/Defereggen": "Hopfgarten in Defereggen",
    "Nussdorf-Debant": "Nußdorf-Debant",
    "Nußdorf-Debant": "Nußdorf-Debant",
    "Obernberg": "Obernberg am Brenner",
    "Obernberg am Brenner": "Obernberg am Brenner",
    "Prägraten": "Prägraten am Großvenediger",
    "Prägraten am Großvened": "Prägraten am Großvenediger",
    "Scheffau": "Scheffau am Wilden Kaiser",
    "Scheffau am Wilden Kai": "Scheffau am Wilden Kaiser",
    "Scheffau/Wild.Kaiser": "Scheffau am Wilden Kaiser",
    "Schönberg im Stubaital": "Schönberg im Stubaital",
    "Schönberg/Stubaital": "Schönberg im Stubaital",
    "Silz": "Silz",
    "Silz inkl. Kühtai": "Silz",
    "St. Anton am Arlberg": "St. Anton am Arlberg",
    "St. Jakob in Deferegge": "St. Jakob in Defereggen",
    "St. Jakob in Haus": "St. Jakob in Haus",
    "St. Johann im Walde": "St. Johann im Walde",
    "St. Johann in Tirol": "St. Johann in Tirol",
    "St. Leonhard im Pitzta": "St. Leonhard im Pitztal",
    "St. Sigmund im Sellrai": "St. Sigmund im Sellrain",
    "St. Ulrich am Pillerse": "St. Ulrich am Pillersee",
    "St. Veit in Defereggen": "St. Veit in Defereggen",
    "St.Anton am Arlberg": "St. Anton am Arlberg",
    "St.Jakob in Haus": "St. Jakob in Haus",
    "St.Jakob/Defereggen": "St. Jakob in Defereggen",
    "St.Johann am Walde": "St. Johann im Walde",
    "St.Johann im Walde": "St. Johann im Walde",
    "St.Johann in Tirol": "St. Johann in Tirol",
    "St.Leonhard/Pitztal": "St. Leonhard im Pitztal",
    "St.Sigmund/Sellrain": "St. Sigmund im Sellrain",
    "St.Ulrich/Pillersee": "St. Ulrich am Pillersee",
    "St.Veit in Defereggen": "St. Veit in Defereggen",
    "Steinach": "Steinach am Brenner",
    "Steinach am Brenner": "Steinach am Brenner",
    "Steinach/Brenner": "Steinach am Brenner",
    "Telfes im Stubai": "Telfes im Stubai",
    "Telfes im Stubaital": "Telfes im Stubai",
    "Weissenbach": "Weißenbach am Lech",
    "Weissenbach am Lech": "Weißenbach am Lech",
    "Weißenbach am Lech": "Weißenbach am Lech"
    }

In [8]:
len(gemeinden)

52

In [9]:
df['gemeinde'] = df.city.map(gemeinden)
df.head()

   year       city  month  overnight_stays bezirk   nr datetime gemeinde
0  2000  Innsbruck      1            75874      I  101  2000-01      NaN
1  2000  Innsbruck      2            86463      I  101  2000-02      NaN
2  2000  Innsbruck      3            85461      I  101  2000-03      NaN
3  2000  Innsbruck      4            78124      I  101  2000-04      NaN
4  2000  Innsbruck      5            99989      I  101  2000-05      NaN

In [10]:
df.gemeinde.fillna(df.city, inplace=True)

In [11]:
df

,year,city,month,overnight_stays,bezirk,nr,datetime,gemeinde
0,2000,Innsbruck,1,75874,I,101,2000-01,Innsbruck
1,2000,Innsbruck,2,86463,I,101,2000-02,Innsbruck
2,2000,Innsbruck,3,85461,I,101,2000-03,Innsbruck
3,2000,Innsbruck,4,78124,I,101,2000-04,Innsbruck
4,2000,Innsbruck,5,99989,I,101,2000-05,Innsbruck
...,...,...,...,...,...,...,...,...
63607,2018,Zellberg,8,12475,SZ,70941,2018-08,Zellberg
63608,2018,Zellberg,9,6493,SZ,70941,2018-09,Zellberg
63609,2018,Zellberg,10,2613,SZ,70941,2018-10,Zellberg
63610,2018,Zellberg,11,219,SZ,70941,2018-11,Zellberg
63611,2018,Zellberg,12,8835,SZ,70941,2018-12,Zellberg

In [12]:
df.city.value_counts()

Virgen                 228
Thiersee               228
Tux                    228
Schmirn                228
Rettenschöss           228
                      ...
Weissenbach am Lech     12
Steinach                12
Elbingenalp             12
Obernberg               12
Weissenbach             12
Name: city, Length: 307, dtype: int64

In [13]:
df.gemeinde.value_counts()

Virgen                     228
Obsteig                    228
Heiterwang                 228
Gries am Brenner           228
St. Ulrich am Pillersee    228
                          ...
Wattens                    228
Baumkirchen                228
Itter                      228
Sautens                    228
Oetz                       228
Name: gemeinde, Length: 279, dtype: int64

In [14]:
df_2 = df[['gemeinde', 'datetime', 'overnight_stays', 'bezirk']]
df_2.columns = ['Gemeinde', 'Monat', 'Nächtigungen', 'Bezirk']
df_2.reset_index(drop=True, inplace=True)
df_2

        Gemeinde    Monat  Nächtigungen Bezirk
0      Innsbruck  2000-01         75874      I
1      Innsbruck  2000-02         86463      I
2      Innsbruck  2000-03         85461      I
3      Innsbruck  2000-04         78124      I
4      Innsbruck  2000-05         99989      I
...          ...      ...           ...    ...
63607   Zellberg  2018-08         12475     SZ
63608   Zellberg  2018-09          6493     SZ
63609   Zellberg  2018-10          2613     SZ
63610   Zellberg  2018-11           219     SZ
63611   Zellberg  2018-12          8835     SZ

[63612 rows x 4 columns]

In [15]:
df_2

        Gemeinde    Monat  Nächtigungen Bezirk
0      Innsbruck  2000-01         75874      I
1      Innsbruck  2000-02         86463      I
2      Innsbruck  2000-03         85461      I
3      Innsbruck  2000-04         78124      I
4      Innsbruck  2000-05         99989      I
...          ...      ...           ...    ...
63607   Zellberg  2018-08         12475     SZ
63608   Zellberg  2018-09          6493     SZ
63609   Zellberg  2018-10          2613     SZ
63610   Zellberg  2018-11           219     SZ
63611   Zellberg  2018-12          8835     SZ

[63612 rows x 4 columns]

In [16]:
df_2.Bezirk.unique()

array(['I', 'IM', 'IL', 'KB', 'KU', 'LA', 'LZ', 'RE', 'SZ'], dtype=object)

In [17]:
bezirke = {
    'I': 'Bezirk Innsbruck',
    'IM': 'Bezirk Imst',
    'IL': 'Bezirk Innsbruck-Land',
    'KB': 'Bezirk Kitzbühel',
    'KU': 'Bezirk Kufstein',
    'LA': 'Bezirk Landeck',
    'LZ': 'Bezirk Lienz',
    'RE': 'Bezirk Reutte',
    'SZ': 'Bezirk Schwaz'
}

In [18]:
df_2.Bezirk = df_2.Bezirk.map(bezirke)

C:\Users\thoma\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [19]:
df_2

        Gemeinde    Monat  Nächtigungen            Bezirk
0      Innsbruck  2000-01         75874  Bezirk Innsbruck
1      Innsbruck  2000-02         86463  Bezirk Innsbruck
2      Innsbruck  2000-03         85461  Bezirk Innsbruck
3      Innsbruck  2000-04         78124  Bezirk Innsbruck
4      Innsbruck  2000-05         99989  Bezirk Innsbruck
...          ...      ...           ...               ...
63607   Zellberg  2018-08         12475     Bezirk Schwaz
63608   Zellberg  2018-09          6493     Bezirk Schwaz
63609   Zellberg  2018-10          2613     Bezirk Schwaz
63610   Zellberg  2018-11           219     Bezirk Schwaz
63611   Zellberg  2018-12          8835     Bezirk Schwaz

[63612 rows x 4 columns]

In [20]:
df_2['Bundesland'] = 'Tyrol'
df_2['Staat'] = 'Österreich'
df_2['Kontinent'] = 'Europa'

C:\Users\thoma\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\thoma\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\thoma\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [21]:
df_2

,Gemeinde,Monat,Nächtigungen,Bezirk,Bundesland,Staat,Kontinent
0,Innsbruck,2000-01,75874,Bezirk Innsbruck,Tyrol,Österreich,Europa
1,Innsbruck,2000-02,86463,Bezirk Innsbruck,Tyrol,Österreich,Europa
2,Innsbruck,2000-03,85461,Bezirk Innsbruck,Tyrol,Österreich,Europa
3,Innsbruck,2000-04,78124,Bezirk Innsbruck,Tyrol,Österreich,Europa
4,Innsbruck,2000-05,99989,Bezirk Innsbruck,Tyrol,Österreich,Europa
...,...,...,...,...,...,...,...
63607,Zellberg,2018-08,12475,Bezirk Schwaz,Tyrol,Österreich,Europa
63608,Zellberg,2018-09,6493,Bezirk Schwaz,Tyrol,Österreich,Europa
63609,Zellberg,2018-10,2613,Bezirk Schwaz,Tyrol,Österreich,Europa
63610,Zellberg,2018-11,219,Bezirk Schwaz,Tyrol,Österreich,Europa
63611,Zellberg,2018-12,8835,Bezirk Schwaz,Tyrol,Österreich,Europa

In [22]:
plz = pd.read_csv('data/plz_2.csv')
plz

      PLZ        Gemeinde
0    6067           Absam
1    6215      Achenkirch
2    6861   Alberschwende
3    6073         Aldrans
4    6236         Alpbach
..    ...             ...
368  6283  Zell am Ziller
369  6277        Zellberg
370  6170            Zirl
371  6677          Zöblen
372  6835  Zwischenwasser

[373 rows x 2 columns]

In [23]:
df_2 = pd.merge(df_2, plz, how='inner', on='Gemeinde').drop_duplicates()

In [24]:
df_2.PLZ = df_2.PLZ.astype('str')

In [25]:
df_2.PLZ = df_2.PLZ + ', Österreich'

In [34]:
df_2['City'] = df_2.Gemeinde + ', Austria'

In [35]:
df_2.Gemeinde.value_counts()

Tobadill                     228
Grinzens                     228
Pflach                       228
Pettneu am Arlberg           228
Thiersee                     228
                            ...
Reutte                       228
Reith im Alpbachtal          228
Rinn                         228
Scheffau am Wilden Kaiser    228
Oetz                         228
Name: Gemeinde, Length: 246, dtype: int64

In [36]:
df_2

,Gemeinde,Monat,Nächtigungen,Bezirk,Bundesland,Staat,Kontinent,PLZ,City
0,Innsbruck,2000-01,75874,Bezirk Innsbruck,Tyrol,Österreich,Europa,"6080, Österreich","Innsbruck, Austria"
1,Innsbruck,2000-02,86463,Bezirk Innsbruck,Tyrol,Österreich,Europa,"6080, Österreich","Innsbruck, Austria"
2,Innsbruck,2000-03,85461,Bezirk Innsbruck,Tyrol,Österreich,Europa,"6080, Österreich","Innsbruck, Austria"
3,Innsbruck,2000-04,78124,Bezirk Innsbruck,Tyrol,Österreich,Europa,"6080, Österreich","Innsbruck, Austria"
4,Innsbruck,2000-05,99989,Bezirk Innsbruck,Tyrol,Österreich,Europa,"6080, Österreich","Innsbruck, Austria"
...,...,...,...,...,...,...,...,...,...
56083,Zellberg,2018-08,12475,Bezirk Schwaz,Tyrol,Österreich,Europa,"6277, Österreich","Zellberg, Austria"
56084,Zellberg,2018-09,6493,Bezirk Schwaz,Tyrol,Österreich,Europa,"6277, Österreich","Zellberg, Austria"
56085,Zellberg,2018-10,2613,Bezirk Schwaz,Tyrol,Österreich,Europa,"6277, Österreich","Zellberg, Austria"
56086,Zellberg,2018-11,219,Bezirk Schwaz,Tyrol,Österreich,Europa,"6277, Österreich","Zellberg, Austria"
56087,Zellberg,2018-12,8835,Bezirk Schwaz,Tyrol,Österreich,Europa,"6277, Österreich","Zellberg, Austria"

In [50]:
cities = df_2.City.unique()

In [47]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="specify_your_app_name_here")

In [54]:
import time

In [61]:
latitudes = []
longitudes = []

for city in cities:
    print(city)
    location = geolocator.geocode(city)
    latitudes.append(location.latitude)
    longitudes.append(location.longitude)
    time.sleep(0.3)

Innsbruck, Austria
Arzl im Pitztal, Austria
Haiming, Austria
Imst, Austria
Imsterberg, Austria
Jerzens, Austria
Karres, Austria
Karrösten, Austria
Längenfeld, Austria
Mieming, Austria
Mils bei Imst, Austria
Mötz, Austria
Nassereith, Austria
Obsteig, Austria
Oetz, Austria
Rietz, Austria
Roppen, Austria
St. Leonhard im Pitztal, Austria
Sautens, Austria
Silz, Austria
Sölden, Austria
Stams, Austria
Tarrenz, Austria
Umhausen, Austria
Wenns, Austria
Absam, Austria
Aldrans, Austria
Ampass, Austria
Axams, Austria
Baumkirchen, Austria
Birgitz, Austria
Ellbögen, Austria
Flaurling, Austria
Fritzens, Austria
Fulpmes, Austria
Gnadenwald, Austria
Götzens, Austria
Gries am Brenner, Austria
Gries im Sellrain, Austria
Grinzens, Austria
Gschnitz, Austria
Hatting, Austria
Inzing, Austria
Kematen in Tirol, Austria
Kolsass, Austria
Kolsassberg, Austria
Lans, Austria
Leutasch, Austria
Matrei am Brenner, Austria
Mieders, Austria
Mils, Austria
Mühlbachl, Austria
Mutters, Austria
Natters, Austria
Navis, Austria
Neustift im Stubaital, Austria
Oberhofen im Inntal, Austria
Obernberg am Brenner, Austria
Oberperfuss, Austria
Patsch, Austria
Pettnau, Austria
Pfaffenhofen, Austria
Pfons, Austria
Polling in Tirol, Austria
Ranggen, Austria
Reith bei Seefeld, Austria
Rinn, Austria
Rum, Austria
St. Sigmund im Sellrain, Austria
Scharnitz, Austria
Schmirn, Austria
Schönberg im Stubaital, Austria
Seefeld in Tirol, Austria
Sellrain, Austria
Sistrans, Austria
Hall in Tirol, Austria
Steinach am Brenner, Austria
Telfes im Stubai, Austria
Telfs, Austria
Thaur, Austria
Trins, Austria
Tulfes, Austria
Unterperfuss, Austria
Vals, Austria
Völs, Austria
Volders, Austria
Wattenberg, Austria
Wattens, Austria
Wildermieming, Austria
Zirl, Austria
Aurach bei Kitzbühel, Austria
Brixen im Thale, Austria
Fieberbrunn, Austria
Going am Wilden Kaiser, Austria
Hochfilzen, Austria
Hopfgarten im Brixental, Austria
Itter, Austria
Jochberg, Austria
Kirchberg in Tirol, Austria
Kirchdorf in Tirol, Austria
Kitzbühel, Austria
Kössen, Austria
Oberndorf in Tirol, Austria
Reith bei Kitzbühel, Austria
St. Jakob in Haus, Austria
St. Johann in Tirol, Austria
St. Ulrich am Pillersee, Austria
Schwendt, Austria
Waidring, Austria
Westendorf, Austria
Alpbach, Austria
Angath, Austria
Bad Häring, Austria
Brandenberg, Austria
Breitenbach am Inn, Austria
Brixlegg, Austria
Ebbs, Austria
Ellmau, Austria
Erl, Austria
Kirchbichl, Austria
Kramsach, Austria
Kufstein, Austria
Kundl, Austria
Langkampfen, Austria
Mariastein, Austria
Münster, Austria
Niederndorf, Austria
Niederndorferberg, Austria
Radfeld, Austria
Rattenberg, Austria
Reith im Alpbachtal, Austria
Rettenschöss, Austria
Scheffau am Wilden Kaiser, Austria
Schwoich, Austria
Söll, Austria
Thiersee, Austria
Angerberg, Austria
Walchsee, Austria
Wildschönau, Austria
Wörgl, Austria
Faggen, Austria
Fendels, Austria
Fiss, Austria
Fließ, Austria
Flirsch, Austria
Galtür, Austria
Grins, Austria
Ischgl, Austria
Kappl, Austria
Kaunerberg, Austria
Kaunertal, Austria
Kauns, Austria
Ladis, Austria
Landeck, Austria
Nauders, Austria
Pettneu am Arlberg, Austria
Pfunds, Austria
Pians, Austria
Prutz, Austria
Ried im Oberinntal, Austria
St. Anton am Arlberg, Austria
Schönwies, Austria
See, Austria
Serfaus, Austria
Spiss, Austria
Stanz bei Landeck, Austria
Strengen, Austria
Tobadill, Austria
Tösens, Austria
Zams, Austria
Bach, Austria
Berwang, Austria
Biberwier, Austria
Bichlbach, Austria
Breitenwang, Austria
Ehenbichl, Austria
Ehrwald, Austria
Elbigenalp, Austria
Elmen, Austria
Forchach, Austria
Grän, Austria
Gramais, Austria
Häselgehr, Austria
Heiterwang, Austria
Hinterhornbach, Austria
Höfen, Austria
Holzgau, Austria
Jungholz, Austria
Kaisers, Austria
Lechaschau, Austria
Lermoos, Austria
Musau, Austria
Namlos, Austria
Nesselwängle, Austria
Pfafflar, Austria
Pflach, Austria
Pinswang, Austria
Reutte, Austria
Schattwald, Austria
Stanzach, Austria
Steeg, Austria
Tannheim, Austria
Vils, Austria
Vorderhornbach, Austria
Wängle, Austria
Weißenbach am Lech, Austria
Zöblen, Austria
Achenkirch, Austria
Aschau im Zillertal, Austria
Brandberg, Austria
Bruck am Ziller, Austria
Buch in Tirol, Austria
Eben am Achensee, Austria
Finkenberg, Austria
Fügen, Austria
Fügenberg, Austria
Gallzein, Austria
Gerlos, Austria
Gerlosberg, Austria
Hainzenberg, Austria
Hart im Zillertal, Austria
Hippach, Austria
Jenbach, Austria
Kaltenbach, Austria
Mayrhofen, Austria
Pill, Austria
Ramsau im Zillertal, Austria
Ried im Zillertal, Austria
Rohrberg, Austria
Schlitters, Austria
Schwaz, Austria
Schwendau, Austria
Stans, Austria
Steinberg am Rofan, Austria
Strass im Zillertal, Austria
Stumm, Austria
Stummerberg, Austria
Terfens, Austria
Tux, Austria
Uderns, Austria
Vomp, Austria
Weer, Austria
Weerberg, Austria
Wiesing, Austria
Zell am Ziller, Austria
Zellberg, Austria

In [63]:
lat_long = pd.DataFrame()

In [66]:
lat_long['City'] = cities
lat_long['Latitude'] = latitudes
lat_long['Longitude'] = longitudes

In [67]:
lat_long

                         City   Latitude  Longitude
0          Innsbruck, Austria  47.269515  11.397137
1    Arzl im Pitztal, Austria  47.180156  10.776161
2            Haiming, Austria  47.254859  10.882910
3               Imst, Austria  47.275902  10.700690
4         Imsterberg, Austria  47.189180  10.695829
..                        ...        ...        ...
241             Weer, Austria  47.307507  11.653878
242         Weerberg, Austria  47.258524  11.718942
243          Wiesing, Austria  47.412856  11.791941
244   Zell am Ziller, Austria  47.226489  11.881907
245         Zellberg, Austria  47.240526  11.856056

[246 rows x 3 columns]

In [69]:
df_2 = pd.merge(df_2, lat_long, on='City', how='inner')

In [71]:
np.min(df_2.Latitude), np.max(df_2.Latitude)

(46.89014505, 48.1565472)

In [72]:
np.min(df_2.Longitude), np.max(df_2.Longitude)

(10.170590352537147, 14.0243752)

In [73]:
df_2.to_csv('tirol-nächtigungen-2000-2018.csv', index=False, sep=';')