In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/total.csv', index_col=0)
df.head()

   year       city  month  overnight_stays bezirk   nr
0  2000  Innsbruck      1            75874      I  101
1  2000  Innsbruck      2            86463      I  101
2  2000  Innsbruck      3            85461      I  101
3  2000  Innsbruck      4            78124      I  101
4  2000  Innsbruck      5            99989      I  101

In [3]:
df['date'] = df.year.astype('str') + '-' + df.month.astype('str')
df.head()

   year       city  month  overnight_stays bezirk   nr    date
0  2000  Innsbruck      1            75874      I  101  2000-1
1  2000  Innsbruck      2            86463      I  101  2000-2
2  2000  Innsbruck      3            85461      I  101  2000-3
3  2000  Innsbruck      4            78124      I  101  2000-4
4  2000  Innsbruck      5            99989      I  101  2000-5

In [4]:
df.date = pd.to_datetime(df.date)
df.head()

   year       city  month  overnight_stays bezirk   nr       date
0  2000  Innsbruck      1            75874      I  101 2000-01-01
1  2000  Innsbruck      2            86463      I  101 2000-02-01
2  2000  Innsbruck      3            85461      I  101 2000-03-01
3  2000  Innsbruck      4            78124      I  101 2000-04-01
4  2000  Innsbruck      5            99989      I  101 2000-05-01

In [5]:
df.drop(['year', 'month', 'nr'], axis=1, inplace=True)
df.head()

        city  overnight_stays bezirk       date
0  Innsbruck            75874      I 2000-01-01
1  Innsbruck            86463      I 2000-02-01
2  Innsbruck            85461      I 2000-03-01
3  Innsbruck            78124      I 2000-04-01
4  Innsbruck            99989      I 2000-05-01

In [6]:
df.city = df.city.astype('category')
df.bezirk = df.bezirk.astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63612 entries, 0 to 3347
Data columns (total 4 columns):
city               63612 non-null category
overnight_stays    63612 non-null int64
bezirk             63612 non-null category
date               63612 non-null datetime64[ns]
dtypes: category(2), datetime64[ns](1), int64(1)
memory usage: 1.7 MB

In [7]:
df = df[['bezirk', 'city', 'date', 'overnight_stays']]
df.head()

  bezirk       city       date  overnight_stays
0      I  Innsbruck 2000-01-01            75874
1      I  Innsbruck 2000-02-01            86463
2      I  Innsbruck 2000-03-01            85461
3      I  Innsbruck 2000-04-01            78124
4      I  Innsbruck 2000-05-01            99989

In [8]:
df[df.city == 'Innsbruck'].shape[0]

228

In [9]:
cities = []

for city in df.city.unique().to_list():
    if df[df.city == city].shape[0] != 228:
        cities.append(city)
    
cities.sort()

In [10]:
for city in cities:
    print(city, df[df.city == city].shape[0])

Ausservillgraten 24
Außervillgraten 204
Buch bei Jenbach 168
Buch in Tirol 60
Elbigenalp 216
Elbingenalp 12
Going am Wilden Kaiser 24
Going/Wilden Kaiser 204
Hopfgarten im Brixenta 24
Hopfgarten in Deferegg 24
Hopfgarten/Brixental 204
Hopfgarten/Defereggen 204
Nussdorf-Debant 24
Nußdorf-Debant 204
Obernberg 12
Obernberg am Brenner 216
Prägraten 204
Prägraten am Großvened 24
Scheffau 12
Scheffau am Wilden Kai 12
Scheffau/Wild.Kaiser 204
Schönberg im Stubaital 24
Schönberg/Stubaital 204
Silz 204
Silz inkl. Kühtai 24
St. Anton am Arlberg 24
St. Jakob in Deferegge 24
St. Jakob in Haus 24
St. Johann im Walde 24
St. Johann in Tirol 24
St. Leonhard im Pitzta 24
St. Sigmund im Sellrai 24
St. Ulrich am Pillerse 24
St. Veit in Defereggen 24
St.Anton am Arlberg 204
St.Jakob in Haus 204
St.Jakob/Defereggen 204
St.Johann am Walde 96
St.Johann im Walde 108
St.Johann in Tirol 204
St.Leonhard/Pitztal 204
St.Sigmund/Sellrain 204
St.Ulrich/Pillersee 204
St.Veit in Defereggen 204
Steinach 12
Steinach am Brenner 12
Steinach/Brenner 204
Telfes im Stubai 204
Telfes im Stubaital 24
Weissenbach 12
Weissenbach am Lech 12
Weißenbach am Lech 204

In [11]:
df.shape[0] / 228

279.0

In [12]:
len(cities)

52

In [13]:
df = df[~df.city.isin(cities)]

In [14]:
df = df.pivot_table(
    values = 'overnight_stays',
    index = ['bezirk', 'city'],
    columns = 'date'
    )

In [15]:
df.head()

date              2000-01-01  2000-02-01  2000-03-01  2000-04-01  2000-05-01  \
bezirk city
I      Innsbruck     75874.0     86463.0     85461.0     78124.0     99989.0
IL     Absam          1070.0      2381.0      1218.0      2200.0      1398.0
       Aldrans        2776.0      3413.0      1756.0       629.0      1218.0
       Ampass          238.0       515.0       563.0       516.0       909.0
       Axams         15894.0     17185.0     13605.0      5129.0      1595.0

date              2000-06-01  2000-07-01  2000-08-01  2000-09-01  2000-10-01  \
bezirk city
I      Innsbruck    124918.0    143894.0    152698.0    123338.0     85619.0
IL     Absam          1413.0      2890.0      2581.0      1677.0      1703.0
       Aldrans        2045.0      2914.0      3660.0      3569.0      1561.0
       Ampass         1458.0      1734.0      2038.0      1190.0       844.0
       Axams          5789.0      9031.0     12551.0      5442.0      2918.0

date              ...  2018-03-01  2018-04-01  2018-05-01  2018-06-01  \
bezirk city       ...
I      Innsbruck  ...    124347.0    115726.0    140468.0    152873.0
IL     Absam      ...      1480.0      1516.0      1621.0      2201.0
       Aldrans    ...      1840.0       867.0      1238.0      1949.0
       Ampass     ...      1241.0      1047.0      1603.0      1704.0
       Axams      ...     21091.0     11277.0     13203.0     12251.0

date              2018-07-01  2018-08-01  2018-09-01  2018-10-01  2018-11-01  \
bezirk city
I      Innsbruck    203611.0    192608.0    156387.0    139187.0    115279.0
IL     Absam          4554.0      4219.0      3421.0      1990.0      1574.0
       Aldrans        2179.0      2381.0      1753.0      1110.0       468.0
       Ampass         2078.0      2214.0      1819.0      1284.0       899.0
       Axams         15732.0     15398.0     12702.0     13726.0      3670.0

date              2018-12-01
bezirk city
I      Innsbruck    148994.0
IL     Absam          1899.0
       Aldrans         860.0
       Ampass         1444.0
       Axams         11875.0

[5 rows x 228 columns]

In [19]:
df.to_csv('data/output.csv', encoding='utf-16')